/* styles.css */

.title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}


.clickable-vbox {
	-fx-padding: 5;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.clicked {
    -fx-background-color: lightblue;
}


